/* general */
:root {
    --fds-black:#000000;
    --fds-black-alpha-05:rgba(0, 0, 0, 0.05);
    --fds-black-alpha-10:rgba(0, 0, 0, 0.1);
    --fds-black-alpha-15:rgba(0, 0, 0, 0.15);
    --fds-black-alpha-20:rgba(0, 0, 0, 0.2);
    --fds-black-alpha-30:rgba(0, 0, 0, 0.3);
    --fds-black-alpha-40:rgba(0, 0, 0, 0.4);
    --fds-black-alpha-50:rgba(0, 0, 0, 0.5);
    --fds-black-alpha-60:rgba(0, 0, 0, 0.6);
    --fds-black-alpha-80:rgba(0, 0, 0, 0.8);
    --fds-white-alpha-05:rgba(255, 255, 255, 0.05);
    --fds-white-alpha-10:rgba(255, 255, 255, 0.1);
    --fds-white-alpha-20:rgba(255, 255, 255, 0.2);
    --fds-white-alpha-30:rgba(255, 255, 255, 0.3);
    --fds-white-alpha-40:rgba(255, 255, 255, 0.4);
    --fds-white-alpha-50:rgba(255, 255, 255, 0.5);
    --fds-white-alpha-60:rgba(255, 255, 255, 0.6);
    --fds-white-alpha-80:rgba(255, 255, 255, 0.8);
    --fds-gray-00:#F5F6F7;
    --fds-gray-05:#F2F3F5;
    --fds-gray-10:#EBEDF0;
    --fds-gray-20:#DADDE1;
    --fds-gray-25:#CCD0D5;
    --fds-gray-30:#BEC3C9;
    --fds-gray-45:#8D949E;
    --fds-gray-70:#606770;
    --fds-gray-80:#444950;
    --fds-gray-90:#303338;
    --fds-gray-100:#1C1E21;
    --base-blue:#1877F2;
    --base-cherry:#F3425F;
    --base-grape:#9360F7;
    --base-lemon:#F7B928;
    --base-lime:#45BD62;
    --base-pink:#FF66BF;
    --base-seafoam:#54C7EC;
    --base-teal:#2ABBA7;
    --base-tomato:#FB724B;

    --accsetup-red : #c12512;

  }
  
@font-face {
    font-family: ROBOTO;
    src: url(/accSetupAppli_webDesign/assets/fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: ROBOTO;
    color: var(--fds-gray-05);
    box-sizing: border-box;
}

body {
    background-color: var(--fds-gray-100);
}

a {
    color: whitesmoke;
    text-decoration: none;
}

button {
    border: none;
    padding-block: .4rem;
    padding-inline: 1rem;
}

button p {
    font-size: 1rem;
    font-weight: bold;
    color: var(--accsetup-red);
}

.btn-asymmetric {
    transform: skew(24deg);
}

.btn-asymmetric p {
    transform: skew(-24deg);
    font-style: italic;
}

input {
    background-color: transparent;
    border: 0;
}

hr {
    border: var(--fds-gray-25) solid .01rem;
}

label {
    font-size: .6rem;
    letter-spacing: .2rem;
    
}

button {
    background-color: transparent;
}

li {
    list-style: none;
}

h3 {
    font-size: 1rem;
    letter-spacing: .2rem;
    font-weight: normal;

}


/* class DRY */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-gray-transparent {
    background-color: var(--fds-black-alpha-50);
}

.box-black-transparent {
    background-color: var(--fds-black-alpha-80);
}

.box-black {
    background-color: #050505;
}

.border-white {
    border: #f5f5f5 0.1rem solid;
}
.wall-side {
    display: flex;
    width: 80%;
    margin: auto;
}









/* header */
header {
    background-color: #2f3030;
}

.container-header .container-logo {
    display: flex;
}

.container-header .container-titre {
    display: flex;
    width: 100%;
}

.container-header .container-titre h2 {
    text-align: center;
}

/* sections */
/* articles */
.container-article {
    height: 100%;
}

.container-section {
    background: url(/accSetupAppli_webDesign/assets/images/photo-background.png) center no-repeat;
    height: 88vh;
    width: 100%;
    border-top: .2rem solid var(--accsetup-red);
}

/* article-welcome */

.container-welcomebox{
    width: 50%;
}

.container-btn-connect {
    width: 20%;
    /* height: 100%; */
	align-items: flex-end;
}

.container-btn-connect button {
    margin-top: 8rem;
}

.container-welcomebox h1 {
    margin: 1rem;
    font-size: 2.5rem;
    font-style: italic;
    text-align: center;
}

.container-welcomebox p {
    margin: 1rem;
    font-style: italic;
}



/* article-connection */
.container-connection {
    display: flex;
    width: 60%;
    height: 60vh;
}

.container-signs {
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: var(--fds-black);
}

.container-sign_in {
    background-color: var(--fds-black);
    color: var(--accsetup-red);
}

.container-sign_up {
    background-color: var(--fds-white-alpha-10);
}


.container-sign_in, .container-sign_up {
    height: 100%;

}

.container-form {
    display: flex;
    flex-direction: column;
    flex:3;
    background-color: var(--fds-black);
}

.container-inputs div {
    width: 60%;
    margin-block: 1rem;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: var(--fds-white-alpha-10);
}

.container-submit {
    display: flex;
    flex: 1;
    background-color: var(--accsetup-red);
}

.container-submit .text {
    flex: 3;
    height: 100%;
    background-color: var(--fds-gray-90);
}

.container-submit button {
    flex: 1;
    font-size: 1rem;
}

/* article-menu */

.article-menu {
    width: 100%;
    height: 100%;
}

.container-menu {
    width: 20rem;
    background-color: var(--fds-black-alpha-15);
   
}

.container-menu h3 {
    text-align: center;
    padding-block: .3rem;
    background-color: var(--fds-gray-100);
}

.container-menu h3:last-child {
    color: transparent;
}

.container-menu ul {
    text-align: center;
    padding-block: .8rem;

}
.container-menu li {
    padding-block: .8rem;
}

.container-menu hr {
    width: 5rem;
    margin: auto;
}



/* Les displays */

#article-welcome {
    display: none;
}

#article-connection {
    display: none;
}

.container-nav-setup {
    display: none;
}











/* media */
@media only screen and (max-width: 900px) {
    .container-header {
        flex-direction: column;
    }
    .container-header .container-titre h2 {
        font-size: 1rem;
    }
    .container-header a {
        font-size: .8rem;
    }
    .wall-side {
        flex-direction: column;
        width: 95%;
    }
    .container-welcomebox{
        width: 100%;
        margin-top: 1rem;
    }
    .container-btn-connect {
        width: 100%;
        margin-top: 1rem;
    }
    .container-btn-connect button {
        margin: 0;
    }
    .container-article {
        display: block;
        margin-top: .5rem;
    }
    .container-welcomebox h1 {
        font-size: 1.5rem;
    }
    .container-welcomebox p {
        font-size: .8rem;
    }

  }